/* line 1, /Users/konstantin/PycharmProjects/catalogue/chart/static/chart/css/scss/layouts.scss */
.flex {
  display: flex; }
  /* line 3, /Users/konstantin/PycharmProjects/catalogue/chart/static/chart/css/scss/layouts.scss */
  .flex .box {
    flex: 1 0 auto; }
  /* line 6, /Users/konstantin/PycharmProjects/catalogue/chart/static/chart/css/scss/layouts.scss */
  .flex .box-3 {
    flex: 1 0 33.33333%; }

/* line 10, /Users/konstantin/PycharmProjects/catalogue/chart/static/chart/css/scss/layouts.scss */
.flex.row {
  flex-direction: row; }

/* line 13, /Users/konstantin/PycharmProjects/catalogue/chart/static/chart/css/scss/layouts.scss */
.flex.column {
  flex-direction: column; }

/* line 16, /Users/konstantin/PycharmProjects/catalogue/chart/static/chart/css/scss/layouts.scss */
.flex.wrap {
  flex-wrap: wrap;
  align-content: stretch; }

/* line 20, /Users/konstantin/PycharmProjects/catalogue/chart/static/chart/css/scss/layouts.scss */
.order-1 {
  order: 1; }

/* line 23, /Users/konstantin/PycharmProjects/catalogue/chart/static/chart/css/scss/layouts.scss */
.order-2 {
  order: 2; }

/* line 26, /Users/konstantin/PycharmProjects/catalogue/chart/static/chart/css/scss/layouts.scss */
.order-3 {
  order: 3; }

/* line 29, /Users/konstantin/PycharmProjects/catalogue/chart/static/chart/css/scss/layouts.scss */
.order-4 {
  order: 4; }

/* line 32, /Users/konstantin/PycharmProjects/catalogue/chart/static/chart/css/scss/layouts.scss */
.order-5 {
  order: 5; }

/* line 35, /Users/konstantin/PycharmProjects/catalogue/chart/static/chart/css/scss/layouts.scss */
.order-6 {
  order: 6; }

/* line 38, /Users/konstantin/PycharmProjects/catalogue/chart/static/chart/css/scss/layouts.scss */
.order-7 {
  order: 7; }

@media all and (max-width: 768px) {
  /* line 42, /Users/konstantin/PycharmProjects/catalogue/chart/static/chart/css/scss/layouts.scss */
  .flex.sm-column {
    flex-direction: column; } }

/* line 1, /Users/konstantin/PycharmProjects/catalogue/chart/static/chart/css/scss/nav.scss */
nav {
  background-color: #f5f5f5;
  box-shadow: 0 10px 30px rgba(128, 128, 128, 0.5); }
  /* line 4, /Users/konstantin/PycharmProjects/catalogue/chart/static/chart/css/scss/nav.scss */
  nav ul:last-child a {
    font-size: 17px; }
  /* line 7, /Users/konstantin/PycharmProjects/catalogue/chart/static/chart/css/scss/nav.scss */
  nav ul:last-child a:hover {
    text-decoration: underline; }
  /* line 10, /Users/konstantin/PycharmProjects/catalogue/chart/static/chart/css/scss/nav.scss */
  nav li {
    list-style: none; }
  /* line 13, /Users/konstantin/PycharmProjects/catalogue/chart/static/chart/css/scss/nav.scss */
  nav a {
    padding: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: #333333;
    transition: 200ms; }
  /* line 22, /Users/konstantin/PycharmProjects/catalogue/chart/static/chart/css/scss/nav.scss */
  nav a:hover {
    color: #009999; }
  /* line 25, /Users/konstantin/PycharmProjects/catalogue/chart/static/chart/css/scss/nav.scss */
  nav span.menu {
    display: flex;
    background-image: url('/static/chart/img/48x42_Catalog_btn_normal.png');
    background-size: contain;
    width: 24px;
    height: 21px;
    transition: background-image 200ms ease; }
  /* line 33, /Users/konstantin/PycharmProjects/catalogue/chart/static/chart/css/scss/nav.scss */
  nav span.menu:hover {
    background-image: url('/static/chart/img/48x42_Catalog_btn_down.png'); }
  /* line 36, /Users/konstantin/PycharmProjects/catalogue/chart/static/chart/css/scss/nav.scss */
  nav .dropdown {
    display: none;
    position: absolute;
    width: 96%;
    margin-top: 15px;
    margin-right: 2%;
    margin-left: 2%;
    background-color: #f5f5f5;
    border-bottom: 15px solid #48d1cc;
    box-shadow: 0 20px 30px rgba(128, 128, 128, 0.5); }
  /* line 47, /Users/konstantin/PycharmProjects/catalogue/chart/static/chart/css/scss/nav.scss */
  nav .dropdown.about {
    width: inherit;
    border-bottom: none; }
  /* line 51, /Users/konstantin/PycharmProjects/catalogue/chart/static/chart/css/scss/nav.scss */
  nav .dropdown.wrap {
    left: 0; }
  /* line 54, /Users/konstantin/PycharmProjects/catalogue/chart/static/chart/css/scss/nav.scss */
  nav .dropdown.on {
    height: auto;
    display: flex; }
  /* line 58, /Users/konstantin/PycharmProjects/catalogue/chart/static/chart/css/scss/nav.scss */
  nav input {
    padding: 0 5px;
    width: 90%;
    height: 35px;
    margin: 0 auto;
    border: 1px solid lightgrey;
    border-radius: 4px;
    font-family: 'HelveticaNeueCyr-Light', sans-serif;
    font-size: 15px;
    color: #333333; }

/* line 70, /Users/konstantin/PycharmProjects/catalogue/chart/static/chart/css/scss/nav.scss */
.sm-show {
  display: none; }

@media all and (max-width: 768px) {
  /* line 75, /Users/konstantin/PycharmProjects/catalogue/chart/static/chart/css/scss/nav.scss */
  nav .dropdown {
    position: relative;
    border-bottom: none;
    box-shadow: none; }
  /* line 80, /Users/konstantin/PycharmProjects/catalogue/chart/static/chart/css/scss/nav.scss */
  nav .sm-dropdown {
    display: none; }
  /* line 83, /Users/konstantin/PycharmProjects/catalogue/chart/static/chart/css/scss/nav.scss */
  nav .sm-dropdown.on {
    display: flex; }
  /* line 86, /Users/konstantin/PycharmProjects/catalogue/chart/static/chart/css/scss/nav.scss */
  nav .sm-show {
    display: flex; } }
