{% extends 'chart/base.html' %}
{% block title %}
    о компании
{% endblock %}
{% block content %}
    {% load staticfiles %}
{% for object in object_list %}
    <div class="flex row sm-column">
        <div class="box-8">
            <div class="flex column justify">
                {% if object.img %}
                    <a href="/"><img src="{% static 'chart/media/' %}{{ object.img }}" alt=""></a>
                {% endif %}
            </div>
        </div>
        <div class="box-2">
            <div class="flex column left">
                <p>{{ object.paragraph }}</p>
                <a href="{{ object.id }}">подробнее</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'edit' pk=object.id %}">редактировать</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}
