{% extends 'chart/base.html' %}
{% block title %}
    каталог
{% endblock %}
{% block content %}
    {% load staticfiles %}
    <div class="flex row sm-column">
        <div class="box-8">
            <div class="flex column left">
                {% include 'chart/templates/aside.html' %}
            </div>
        </div>
        <div class="box-2">
            <div class="flex row wrap sm-column justify">
            {% for object in object_list %}
                <div class="box-3">
                    <div class="card">
                        {% if object.img %}
                            <a href="{{ object.id }}"><img src="{% static 'chart/media/' %}{{ object.img }}" alt=""></a>
                        {% endif %}
                        <h4>{{ object.title }}</h4>
                        <p>{{ object.text }}</p>
                        <p>{{ object.price }}</p>
                    </div>
                </div>
            {% endfor %}
                <div class="box">
                    <div class="pagination">
                        {% if object_list.has_previous %}
                            <a href="?page={{ object_list.previous_page_number }}">назад</a>
                        {% endif %}
                        <span>
                            Страница {{ object_list.number }} из {{ object_list.paginator.num_pages }}.
                        </span>
                        {% if object_list.has_next %}
                            <a href="?page={{ object_list.next_page_number }}">далее</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}