@import 'scss/fonts';
@import 'scss/layouts';
@import 'scss/header';
@import 'scss/nav';

* {
  margin: 0;
  padding: 0;
}
body {
  font-family:'HelveticaNeueCyr-Light', sans-serif;
  font-size:17px;
  color: #333333;
  background-color: #efefef;
}
section {
  padding: 10px;
  height: 400px;
}
.title {
  color: #009999;
}