@import '../vendor/normalize-css/normalize.css';
@import 'scss/general';
@import 'scss/fonts';
@import 'scss/layouts';
@import 'scss/header';
@import 'scss/footer';
@import 'scss/nav';
@import 'scss/aside';
@import 'scss/section';
@import 'scss/icon';
* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  background-color: #f5f5f5;
}
body {
  //display: block;
  //max-width: 1024px;
  //margin-left: auto;
  //margin-right: auto;
  font-family:'HelveticaNeueCyr-Light', sans-serif;
  font-size:17px;
  color: #333333;
  background-color: #efefef;
  box-shadow: 0 20px 30px rgba(128, 128, 128, 0.3);
}
.title {
    color: #009999;
  }