input {
  display: inline-block;
  border: 1px solid rgba(102, 102, 102, 0.5);
  font-family:'HelveticaNeueCyr-Light', sans-serif;
  font-size:17px;
  color: #333333;
  transition: all .5s ease;
}
input:hover{
  border-color: #079e9e;
}