.icon {
  display: inline-block;
  width: 39px;
  height: 39px;
  -webkit-background-size:contain;
  background-size:contain;
  transition: all 200ms ease;
}
.icon.twitter {
  background-image: url('../../chart/img/39x39_twitter_normal.png');
}
.icon.twitter:hover {
  background-image: url('../../chart/img/39x39_twitter.png');
}
.icon.facebook {
  background-image: url('../../chart/img/39x39_facebook.png');
}
.icon.facebook:hover {
  background-image: url('../../chart/img/39x39_facebook_up.png');
}
.icon.pinterest {
  background-image: url('../../chart/img/39x39_pinterest_up.png');
}
.icon.pinterest:hover {
  background-image: url('../../chart/img/39x39_pinterest_normal.png');
}
.icon.cell {
  width: 24px;
  height: 17px;
  background-image: url('../../chart/img/24x21_telephone_btn.png');
}
.icon.life {
  width: 24px;
  height: 13px;
  background-image: url('../../chart/img/Life_icon.png');
}