section {
  padding: 20px 10px 30px 10px;
  h4 {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  p {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: justify;
    line-height: 24px;
  }
}