{% load staticfiles %}
{% load compress %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>БебиКеа - {% block title %}{% endblock %}</title>
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{%  static 'chart/css/styles.scss' %}">
    {% endcompress %}
</head>
<body>
{% include 'chart/templates/header.html' %}
{% include 'chart/templates/nav.html' %}
<section>
    {% block content %}
    {% endblock %}
</section>
{% include 'chart/templates/footer.html' %}
<script src="{% static 'chart/vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'chart/js/main.js' %}"></script>
</body>
</html>