{% load staticfiles %}
{% load compress %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>БебиКеа - Главная</title>
    <title>Document</title>
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{%  static 'chart/css/styles.scss' %}">
    {% endcompress %}
    <script src="{% static 'chart/vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'chart/js/main.js' %}"></script>
</head>
<body>
{% include 'chart/templates/nav.html' %}

{% block content %}
{% endblock %}

</body>
</html>