<aside>
    <ul class="flex column">
    <li class="box"><a class="dropdown-toggle" href="#">Многоразовые подгузники</a>
        <ul class="flex column dropdown">
            <li class="box"><a href="#"><span>- </span>Набор трикотажных подгузников Disana</a></li>
            <li class="box"><a href="#"><span>- </span>Комплектующие к наборам</a></li>
        </ul>
    </li>
    <li class="box"><a href="#">Одежда для детей</a></li>
    <li class="box"><a href="#">Одежда для недоношенных деток</a></li>
    <li class="box"><a class="dropdown-toggle" href="#">Нательная одежда для детей (Engel)</a>
        <ul class="flex column dropdown">
            <li class="box"><a href="#"><span>- </span>Боди</a></li>
            <li class="box"><a href="#"><span>- </span>Ползунки и человечки</a></li>
            <li class="box"><a href="#"><span>- </span>Штанишки</a></li>
            <li class="box"><a href="#"><span>- </span>Кофты</a></li>
            <li class="box"><a href="#"><span>- </span>Леггинсы</a></li>
            <li class="box"><a href="#"><span>- </span>Варежки</a></li>
            <li class="box"><a href="#"><span>- </span>Шапочки</a></li>
            <li class="box"><a href="#"><span>- </span>Тапочки и носочки</a></li>
        </ul>
    </li>
    <li class="box"><a href="#">Верхняя одажда для детей (Disana)</a></li>
    <li class="box"><a class="dropdown-toggle" href="#">Нательная одежда для детей (Engel)</a>
        <ul class="flex column dropdown">
            <li class="box"><a href="#"><span>- </span>Кофты</a></li>
            <li class="box"><a href="#"><span>- </span>Леггинсы</a></li>
            <li class="box"><a href="#"><span>- </span>Майки</a></li>
            <li class="box"><a href="#"><span>- </span>Футболки</a></li>
            <li class="box"><a href="#"><span>- </span>Шортики</a></li>
        </ul>
    </li>
    <li class="box"><a class="dropdown-toggle" href="#">Мужское термобелье (Engel)</a>
        <ul class="flex column dropdown">
            <li class="box"><a href="#"><span>- </span>Кофты</a></li>
            <li class="box"><a href="#"><span>- </span>Леггинсы</a></li>
            <li class="box"><a href="#"><span>- </span>Майки</a></li>
            <li class="box"><a href="#"><span>- </span>Футболки</a></li>
        </ul>
    </li>
</ul>
</aside>