<footer class="flex row wrap sm-column">
    <div class="box-2">
        <h3>Подписаться на обновления</h3>
        <input type="text" title="followers" placeholder="Ваш e-mail">
        <a class="subscribe" href="">Подписаться</a>
    </div>
    <div class="box-2">
        <a href="/" class="icon twitter"></a>
        <a href="/" class="icon pinterest"></a>
        <a href="/" class="icon facebook"></a>
    </div>
    <div class="box">
        <p>© 2011 ООО «Babycare» — интернет магазин детской одежды</p>
    </div>
</footer>