{% load staticfiles %}
<header class="flex row">
    <div class="box">
        <a href="/"><img src="{% static 'chart/img/brand.png' %}" width="253" height="51" alt="babycare"></a>
        <h2>Органические товары</h2>
    </div>
    <div class="box">
        <p><span class="icon cell"></span> (044) 229-05-02</p>
        <p><span class="icon cell"></span> (044) 229-05-03</p>
        <p><span class="icon life"></span> (093) 306-08-18</p>
    </div>
    <div class="box">
        <input class="sm-hide" type="text" title="search" placeholder="Поиск">
    </div>
</header>
