{% load staticfiles %}
<header class="flex row">
    <div class="box-3">
        <div class="flex column justify">
            <a href="{% url 'home' %}"><img src="{% static 'chart/img/brand.png' %}" width="253" height="51" alt="babycare"></a>
            <h2>Органические товары</h2>
        </div>
    </div>
    <div class="box-3 sm-hide">
        {% for contact in contact_list %}
            {% if contact.show %}
                <p><span class="icon cell"></span> {{ contact.phone}}</p>
            {% endif %}
        {% endfor %}
    </div>
    <div class="box-3 sm-hide">
        <form method="GET" action="">
            <input type="text" name="q" value="{{ request.GET.q }}" class="sm-hide" placeholder="Поиск">
        </form>
    </div>
</header>
