{% load staticfiles %}
<header class="flex row">
    <div class="box-3">
        <div class="flex column justify">
            <a href="/"><img src="{% static 'chart/img/brand.png' %}" width="253" height="51" alt="babycare"></a>
            <h2>Органические товары</h2>
        </div>
    </div>
    <div class="box-3 sm-hide">
        <p><span class="icon cell"></span> (044) 229-05-02</p>
        <p><span class="icon cell"></span> (044) 229-05-03</p>
        <p><span class="icon life"></span> (093) 306-08-18</p>
    </div>
    <div class="box-3 sm-hide">
        <form method="GET" action="">
            <input type="text" name="q" value="{{ request.GET.q }}" class="sm-hide" placeholder="Поиск">
        </form>
    </div>
</header>
