<nav>
            <a class="dropdown-toggle sm-show" href="#"><span class="menu"></span></a>
            <ul id="menu-main-menu" class="flex row sm-column sm-dropdown desktop-menu"><li id="menu-item-422" class="box-5 menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-4 current_page_item menu-item-422"><a href="http://www.babycare.com.ua/baby-wordpress/">Главная</a></li>
<li id="menu-item-423" class="catalog box-5 menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-has-children menu-item-423"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/katalog/">Каталог</a>
<ul class="sub-menu">
	<li id="menu-item-459" class="box-3 catalog-column menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-459"><a href="http://#">КОЛОНКА 1</a>
	<ul class="sub-menu">
		<li id="menu-item-431" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-has-children menu-item-431"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/mnogorazovye-podguzniki/">Многоразовые подгузники</a>
		<ul class="sub-menu">
			<li id="menu-item-432" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-432"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/komplektuyushhie-k-naboram/">Комплектующие к наборам</a></li>
			<li id="menu-item-433" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-433"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/nabor-trikotazhnyh-podguznikov-disana/">Набор трикотажных подгузников Disana</a></li>
		</ul>
</li>
		<li id="menu-item-448" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-448"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/odezhda-dlya-detej/">Одежда для детей</a></li>
		<li id="menu-item-449" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-449"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/odezhda-dlya-nedonoshennyh-detok/">Одежда для недоношенных деток</a></li>
		<li id="menu-item-439" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-has-children menu-item-439"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/natelnaya-odezhda-dlya-detej-engel/">Нательная одежда для детей (Engel)</a>
		<ul class="sub-menu">
			<li id="menu-item-440" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-440"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/bodi/">Боди</a></li>
			<li id="menu-item-441" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-441"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/varezhki/">Варежки</a></li>
			<li id="menu-item-442" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-442"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/kofty-natelnaya-odezhda-dlya-detej-engel/">Кофты</a></li>
			<li id="menu-item-443" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-443"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/legginsy-natelnaya-odezhda-dlya-detej-engel/">Леггинсы</a></li>
			<li id="menu-item-444" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-444"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/polzunki-i-chelovechki/">Ползунки и человечки</a></li>
			<li id="menu-item-445" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-445"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/tapochki-i-nosochki/">Тапочки и носочки</a></li>
			<li id="menu-item-446" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-446"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/shapochki/">Шапочки</a></li>
			<li id="menu-item-447" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-447"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/shtanishki/">Штанишки</a></li>
		</ul>
</li>
	</ul>
</li>
	<li id="menu-item-460" class="box-3 catalog-column menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-460"><a href="http://№">КОЛОНКА 2</a>
	<ul class="sub-menu">
		<li id="menu-item-424" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-424"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/verhnyaya-odazhda-dlya-detej-disana/">Верхняя одажда для детей (Disana)</a></li>
		<li id="menu-item-425" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-has-children menu-item-425"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/zhenskoe-termobele-engel/">Женское термобелье (Engel)</a>
		<ul class="sub-menu">
			<li id="menu-item-426" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-426"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/kofty/">Кофты</a></li>
			<li id="menu-item-427" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-427"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/legginsy/">Леггинсы</a></li>
			<li id="menu-item-428" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-428"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/majki/">Майки</a></li>
			<li id="menu-item-429" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-429"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/futbolki/">Футболки</a></li>
			<li id="menu-item-430" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-430"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/shortiki/">Шортики</a></li>
		</ul>
</li>
		<li id="menu-item-434" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-has-children menu-item-434"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/muzhskoe-termobele-engel/">Мужское термобелье (Engel)</a>
		<ul class="sub-menu">
			<li id="menu-item-435" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-435"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/kofty-muzhskoe-termobele-engel/">Кофты</a></li>
			<li id="menu-item-436" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-436"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/legginsy-muzhskoe-termobele-engel/">Леггинсы</a></li>
			<li id="menu-item-437" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-437"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/majki-muzhskoe-termobele-engel/">Майки</a></li>
			<li id="menu-item-438" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-438"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/futbolki-muzhskoe-termobele-engel/">Футболки</a></li>
		</ul>
</li>
	</ul>
</li>
	<li id="menu-item-461" class="box-3 catalog-column menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-461"><a href="http://№">КОЛОНКА 3</a>
	<ul class="sub-menu">
		<li id="menu-item-455" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-has-children menu-item-455"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/stirka-uborka-almawin/">Стирка Уборка (AlmaWin)</a>
		<ul class="sub-menu">
			<li id="menu-item-456" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-456"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/dlya-mytya-posudy/">Для мытья посуды</a></li>
			<li id="menu-item-457" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-457"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/dlya-stirki/">Для стирки</a></li>
			<li id="menu-item-458" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-458"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/dlya-uborki/">Для уборки</a></li>
		</ul>
</li>
		<li id="menu-item-450" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-has-children menu-item-450"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/produkty-pitaniya-bezglyutenovaya-produktsiya/">Продукты питания (Безглютеновая продукция)</a>
		<ul class="sub-menu">
			<li id="menu-item-451" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-451"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/makaronnye-izdeliya/">Макаронные изделия</a></li>
			<li id="menu-item-452" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-452"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/pechene/">Печенье</a></li>
			<li id="menu-item-453" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-453"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/suhie-zavtraki/">Сухие завтраки</a></li>
			<li id="menu-item-454" class="menu-item menu-item-type-taxonomy menu-item-object-catalogue menu-item-454"><a href="http://www.babycare.com.ua/baby-wordpress/catalogue/hleb/">Хлеб</a></li>
		</ul>
</li>
	</ul>
</li>
</ul>
</li>
<li id="menu-item-416" class="box-5 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-416"><a href="http://www.babycare.com.ua/baby-wordpress/about/">О нас</a>
<ul class="sub-menu">
	<li id="menu-item-421" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-421"><a href="http://www.babycare.com.ua/baby-wordpress/about/o-kompanii-bk/">О компании БК</a></li>
	<li id="menu-item-420" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-420"><a href="http://www.babycare.com.ua/baby-wordpress/about/sotrudnichestvo/">Сотрудничество</a></li>
	<li id="menu-item-419" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-419"><a href="http://www.babycare.com.ua/baby-wordpress/about/brendy/">Бренды</a></li>
	<li id="menu-item-418" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-418"><a href="http://www.babycare.com.ua/baby-wordpress/about/znaki-sertifikatsii/">Знаки сертификации</a></li>
	<li id="menu-item-417" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-417"><a href="http://www.babycare.com.ua/baby-wordpress/about/stati/">Статьи</a></li>
</ul>
</li>
<li id="menu-item-415" class="box-5 menu-item menu-item-type-post_type menu-item-object-page menu-item-415"><a href="http://www.babycare.com.ua/baby-wordpress/gde-kupit/">Где купить</a></li>
<li id="menu-item-414" class="box-5 menu-item menu-item-type-post_type menu-item-object-page menu-item-414"><a href="http://www.babycare.com.ua/baby-wordpress/kontakty/">Контакты</a></li>
</ul>            <div class="divider"><div class="flex row"><div style="border-bottom: 15px solid #fad280" class="box-4"></div><div style="border-bottom: 15px solid #bfe79e" class="box-4"></div><div style="border-bottom: 15px solid #fc9f66" class="box-4"></div><div style="border-bottom: 15px solid #48d1cc" class="box-4"></div></div></div>
        </nav>