<nav>
    <a class="dropdown-toggle sm-show" href="#"><span class="menu"></span></a>
    <ul class="flex row sm-column sm-dropdown">
        <li><input type="text" title="" class="sm-show" placeholder="Поиск"></li>
        <li class="box-5"><a href="/">Главная</a></li>
        <li class="box-5">
            <a class="dropdown-toggle" href="#">Каталог</a>
            <ul class="dropdown">
                <li class="box-3">
                    <a class="dropdown-toggle title" href="#">Многоразовые подгузники</a>
                    <ul class="flex column sm-dropdown">
                        <li class="box"><a href="#"><span>- </span>Набор трикотажных подгузников Disana</a></li>
                        <li class="box"><a href="#"><span>- </span>Комплектующие к наборам</a></li>
                    </ul>
                    <ul class="flex column">
                        <li class="box"><a class="dropdown-toggle title" href="#">Многоразовые подгузники</a>
                            <ul class="flex column sm-dropdown">
                                <li class="box"><a href="#"><span>- </span>Набор трикотажных подгузников Disana</a></li>
                                <li class="box"><a href="#"><span>- </span>Комплектующие к наборам</a></li>
                            </ul>
                        </li>
                        <li class="box"><a class="title" href="#">Одежда для детей</a></li>
                        <li class="box"><a class="title" href="#">Одежда для недоношенных деток</a></li>
                        <li class="box"><a class="dropdown-toggle title" href="#">Нательная одежда для детей (Engel)</a>
                            <ul class="flex column sm-dropdown">
                                <li class="box"><a href="#"><span>- </span>Боди</a></li>
                                <li class="box"><a href="#"><span>- </span>Ползунки и человечки</a></li>
                                <li class="box"><a href="#"><span>- </span>Штанишки</a></li>
                                <li class="box"><a href="#"><span>- </span>Кофты</a></li>
                                <li class="box"><a href="#"><span>- </span>Леггинсы</a></li>
                                <li class="box"><a href="#"><span>- </span>Варежки</a></li>
                                <li class="box"><a href="#"><span>- </span>Шапочки</a></li>
                                <li class="box"><a href="#"><span>- </span>Тапочки и носочки</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="box-3">
                    <ul class="flex column">
                        <li class="box"><a class="title" href="#">Верхняя одажда для детей (Disana)</a></li>
                        <li class="box"><a class="dropdown-toggle title" href="#">Нательная одежда для детей (Engel)</a>
                            <ul class="flex column sm-dropdown">
                                <li class="box"><a href="#"><span>- </span>Кофты</a></li>
                                <li class="box"><a href="#"><span>- </span>Леггинсы</a></li>
                                <li class="box"><a href="#"><span>- </span>Майки</a></li>
                                <li class="box"><a href="#"><span>- </span>Футболки</a></li>
                                <li class="box"><a href="#"><span>- </span>Шортики</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="box-3">
                    <ul class="flex column">
                        <li class="box"><a class="dropdown-toggle title" href="#">Мужское термобелье (Engel)</a>
                            <ul class="flex column sm-dropdown">
                                <li class="box"><a href="#"><span>- </span>Кофты</a></li>
                                <li class="box"><a href="#"><span>- </span>Леггинсы</a></li>
                                <li class="box"><a href="#"><span>- </span>Майки</a></li>
                                <li class="box"><a href="#"><span>- </span>Футболки</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="box-5">
            <a class="dropdown-toggle" href="#">О нас</a>
            <ul class="flex column dropdown about">
                <li class="box"><a href="/about">О компании БК</a></li>
                <li class="box"><a href="/cooperation">Сотрудничество</a></li>
                <li class="box"><a href="/brands">Бренды</a></li>
                <li class="box"><a href="/certificates">Знаки сертификации</a></li>
                <li class="box"><a href="/articles">Статьи</a></li>
            </ul>
        </li>
        <li class="box-5"><a href="/map">Где купить</a></li>
        <li class="box-5"><a href="/contacts">Контакты</a></li>
    </ul>
    <div class="divider"></div>
</nav>